.bg-primary{
	background:$color-primary;
}
.bg-light-gray{
	background:$color-light-gray;
}

.background-image--split-promo{
    background:url(../img/ExclusiveOffers.jpg);
	background-size: cover;
    background-position: left center;
	background-repeat: no-repeat;
	
    @include respond-to(md) {
	    background-position: -50px center;
	}
	
    @include respond-to(xs) {
	   display:none;
	}
}

.background-image--bg-image-promo{
    background:url(../img/shoe-optimized.jpg);
	background-size: cover;
    background-position: left center;
	background-repeat: no-repeat;
	
    @include respond-to(md) {
	    background-position: -100px center;
	}
	
    @include respond-to(xs) {
	    background:url(../img/EarlyAccess-Background-Mobile.jpg);
		background-size: cover;
		
	}
	
	
}